#availability {
    font-size: 40px;
    color: red;
}

.product {
    background-color: rgb(247, 240, 230);
    border: rgb(228, 246, 36) 2px solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(154, 147, 147);
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 5px;
    max-height: 500px;
    max-width: 350px;
}

.productInfo {
    color: rgb(78, 57, 5);
    display: flex;
    flex-direction: column;

}

.rating{
    color: #f0c040;
    margin: 0.1rem;
}

.price,
.quantity {
    font-size: x-large;
    padding: 4px;
}
.rating{
    padding: 3px;
}
.productImage {
    display: flex;
    justify-content: center;
}

#img {
    align-items: center;
    width: 300px;
    height: 250px;
}





.productName {
    display: flex;
    justify-content: center;
}

#productName {
    /* margin-left: 12px; */
    padding-bottom: 15px;
    /* color: #760c0c; */
    color: #b73490;
    font: 2.5em 'Display';
    text-decoration: none;
}

#addItems {
    display: flex;
    justify-content: space-evenly;
}

#buyItems,
#addItemsToCart {
    border: 1px rgb(8, 124, 124) solid;
    border-radius: 5px;
    padding: 2px;
    margin-top: 15px;
    height: 25px;
    width: 110px;
    font-size: large;
    background-color: #65d6c3;
}

#buyText {
    text-decoration: none;
    color: black;
}