*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

h1 {
    font: 4em 'Display';
    color: rgba(100, 60, 20, 1);
    /* color: rgb(16, 151, 209); */
}

h2{
    font: 3em 'Display';
    color: rgb(240, 100, 35);
}

h3{
    font-size:x-large;
    color: rgb(196, 28, 95);
}

.addNewProduct{
    font: 2em sans-serif;
    margin-bottom: 30px;
    padding: 10px;
}

.productPage{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-shrink: 0;
}



